.styledNavbar {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;

  padding: 0px;
  margin-bottom: 10px;

  box-shadow: 0px 8px 14px 0px rgba(129, 129, 129, 0.5);
}

.navbarContainer {
  width: 100%;

  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
}

.toggle {
  border: none !important;

  background-color: transparent;
  color: #fff;
  padding: 5px;
}

.spanline {
  display: block;

  margin: 2px;
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background-color: #4040a1;
}

.navs {
  width: 100%;
  color: #fff;
}

.link {
  width: fit-content;
  border-bottom: 3px solid #4040a1;

  color: #4040a1;
  transition: all .1s ease-in-out;
  margin: 10px;
}

.link:hover {
  transform: scale(1.025, 1.025);
}

.link::after {
  color: orangered;
}

.offcanvas {
  /*#4040a1 #3c0979 #202051*/
  background: rgb(64,64,161);
  background: linear-gradient(28deg, rgba(64,64,161,1) 0%, rgba(60,9,121,1) 48%, rgba(32,32,81,1) 100%);
  color: #fff;
}